{% extends 'base.html' %}
{% include 'add_new_patient.html' %}
{% include 'modals.html' %}

{% block content %}

<br>
<h1 class="text-center">Welcome to the Patients Database App</h1>
<br>
<h3 class="text-center">Please choose an option</h3>
<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary w-100" type="button"  onclick="showAddPatientOffcanvas()">New Patient</button>
        </div>
        <div class="col-6">
            <form id="getPatientByIdForm" action="{{ url_for('SearchPatientById') }}" method="post">
                <div class="horizontal-container">
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="btn btn-primary w-100">Get Patient Data</button>
                        </div>
                        <div class="col">
                            <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '');" id="search_patient_id"
                            name="search_patient_id" class="form-control" required maxlength="10" placeholder="Enter Patient ID to Update">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row mt-2">
        <div class="col-6">
            <form action="{{ url_for('get_patients') }}" method="get">
                <button class="btn btn-primary w-100">List All</button>
            </form>
        </div>
        <div class="col-6">
            <form action="{{ url_for('DeletePatientById') }}" method="post">
                <div class="horizontal-container">
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="btn btn-primary w-100">Delete Patient</button>
                        </div>
                        <div class="col">
                            <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '');" id="delete_patient_id"
                            name="delete_patient_id" class="form-control" required maxlength="10" placeholder="Enter Patient ID to Delete">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function showAddPatientOffcanvas() {
        const offcanvasElement = document.getElementById('addNewOffcanvas');
        const bsOffcanvas = new bootstrap.Offcanvas(offcanvasElement);
        bsOffcanvas.show();
    }

    async function getPatientById(){
        document.getElementById('getPatientByIdForm').submit();
    }
</script>

{% if has_message %}
<script>
    $(document).ready(function() {
        $('#infoModal').modal('show');
    })
</script>
{% endif %}

{% if has_patient_to_view %}

{% include 'view_edit_patient.html' %}
<script>
    $(document).ready(function() {
        var offcanvasElement = document.getElementById('viewEditOffcanvas');
        var offcanvas = new bootstrap.Offcanvas(offcanvasElement);
        offcanvas.show();
    })
</script>

{% endif %}
  
{% endblock content %}