{% extends 'base.html' %}
{% include 'modals.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Login</h2>
            <form action="{{ url_for('signin') }}" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <p class="mt-3">Don't have an account? <a href="#signup" data-bs-toggle="collapse">Sign Up</a></p>
            </form>

            <div id="message" class="mt-3"></div>

            <div class="collapse" id="signup">
                <h2 class="text-center mt-4">Sign Up</h2>
                <form action="{{ url_for('signup') }}" method="POST">
                    <div class="mb-3">
                        <label for="emailSignup" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailSignup" name="emailSignup" required>
                    </div>
                    <div class="mb-3">
                        <label for="passwordSignup" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordSignup" name="passwordSignup" required>
                    </div>
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if has_message %}
<script>
    $(document).ready(function() {
        $('#infoModal').modal('show');
    })
</script>
{% endif %}

{% endblock %}